{% extends 'base.html.twig' %}

{% block title %}TypePiece{% endblock %}

{% block body %}
    <h1>TypePiece</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_piece.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_piece.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_piece_index') }}">back to list</a>

    <a href="{{ path('app_type_piece_edit', {'id': type_piece.id}) }}">edit</a>

    {{ include('type_piece/_delete_form.html.twig') }}
{% endblock %}
